@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaijaan|Ubuntu');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../imags/art11.jpg);
  height: 100vh;


}



.menu ul {
  list-style: none;
  background-color: transparent;
text-align: right;
padding-right: 20px;
 

}

.menu ul li {
  display: inline-block;
  

}

ul li a {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  position: relative;
  bottom: 50px;
}

ul li a:hover {
  text-decoration: underline;
  color: rgba(255, 0, 0, 0.645);
  transition: 0.7s;
}

.menu h3 {
  padding:30px ;
  color: #fff;
  font-size: 25px;
  cursor: pointer;
}

.menu span {
  color: rgba(255, 0, 0, 0.825);
}

.wrapper {
    width: 420px;
   
   margin: 70px auto;
   
    
    background-color: transparent;

    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    color: white;
    border-radius: 10px;
    padding: 30px 40px;


}

.wrapper h1 {
    font-size: 36px;
    text-align: center;

}

.wrapper .input-box {
    width: 100%;
    height: 50px;
    margin: 30px 0;
    position: relative;

}




.input-box input {

    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: #fff;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: 15px 0 15px;
}

.remember-forgot label input {
    accent-color: #fff;
    margin-right: 3px;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    color: black;
    font-weight: 600px;
}

.wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}